$orange: #f2b269;
$blue: #69a9f2;
$ash: #a5aec7;
$grey-blue: #e6e9f3;
$grey: #c7ccdb;
$grey-white: #fafbfc;
$black: #212121;
$green: #66bb6a;
$baby-blue: #e6f3fd;
$red: #ef5350;
$pink: #fd7fc2;
$dark-grey: #707070;
$purple: #8787f6;
$navy: #3c4b9b;
$dark-blue: #568ce0;
$dark-pink: #b54f86;

$disabled: #e6e9f3;
